
<div class="item">

  <div class="item__content">
    <div class="item__description">
        <p> Hello, this is Zhepei's page. I am a researcher at the MusicAI Group of Adobe Research. I am particularly interested in applying machine learning to music, audio, and speech, including text-to-music generation, music understanding, sound recognition, source separation, speech enhancement, and multimodal representation learning. </p>

        <p> Before joining Adobe, I was an applied scientist at Amazon Web Services (AWS) and also interned there several times, working on real-time speech enhancement, personalized audio, and enterprise search. I earned my Ph.D. degree from the Department of Computer Science at the <b>University of Illinois Urbana-Champaign</b> (UIUC) in 2023, advised by Professor <a class="item__header" href="https://www.mit.edu/~paris/" target="_blank">Paris Smaragdis</a>. Prior to my Ph.D. program, I obtained my B.S. in computer science from <b>Harvey Mudd College</b> in 2018.</p>

      <p> Feel free to checkout my <a href="/assets/cv_2026-03-20.pdf" target="_blank">academic CV</a>, <a href="https://scholar.google.com/citations?user={{ site.author.scholar }}" target="_blank">Google Scholar</a>, and <a href="https://www.linkedin.com/in/{{site.author.linkedin}}" target="_blank">LinkedIn</a> profile. </p>


    </div>
  </div>
  <div class="item__image mx-4">
    <img class="image image--lg circle shadow" src="/assets/images/profile_2026-03-20.jpg"/>
  </div>
</div>
