
<div class="item">

  <div class="item__content">
    <div class="item__description">
      <p> Welcome to my page! I'm <b>Zhepei Wang</b>, and I'm a first-year Ph.D. candidate in the Computer Science Department at the <b>University of Illinois Urbana-Champaign</b> (UIUC). I received my B.S. from Harvey Mudd College in May 2018.</p>

      <p> My research interest is in machine learning and signal processing, and I'm particularly interested in the applications of machine learning in audio synthesis and source separation. I'm currently a research assistant at the <a class="item__header" href="http://cal.cs.illinois.edu/" target="_blank">Computational Audio Lab </a> advised by Professor <a class="item__header" href="https://paris.cs.illinois.edu/" target="_blank">Paris Smaragdis</a>. </p>

      <p> I'm also an enthusiastic fan of classical music and an amateur piano player. </p>
    </div>
  </div>
  <div class="item__image mx-4">
    <img class="image image--md rounded shadow" src="/assets/images/profile.png"/>
  </div>
</div>