
<div class="item">

  <div class="item__content">
    <div class="item__description">
      <p> Hello, this is Zhepei's page. I am an Applied Scientist at Amazon Web Services (AWS) specialized in machine learning and audio (speech, music, etc.) signal processing. I am particularly interested in the applications of machine learning in audio domain, including source separation, speech enhancement, sound classification, audio synthesis, and multi-modal representation learning. Before joining AWS, I earned my Ph.D. degree from the Department of Computer Science at the <b>University of Illinois Urbana-Champaign</b> (UIUC) in 2023, advised by Professor <a class="item__header" href="https://paris.cs.illinois.edu/" target="_blank">Paris Smaragdis</a>. Prior to my Ph.D. program, I obtained my B.S. in computer science from <b> Harvey Mudd College </b> in May 2018.</p>

      <!-- <p> My research interest is in machine learning and signal processing, and I'm particularly interested in the applications of machine learning in source separation, acoustic scene analysis and audio synthesis. I'm currently a research assistant at the <a class="item__header" href="http://cal.cs.illinois.edu/" target="_blank">Computational Audio Lab </a> advised by Professor <a class="item__header" href="https://paris.cs.illinois.edu/" target="_blank">Paris Smaragdis</a>. </p> -->


      <p> Feel free to checkout my <a href="/assets/cv.pdf" target="_blank"> academic CV </a>, <a href="https://scholar.google.com/citations?user={{ _author.scholar }} target="_blank">Google Scholar</a>, and <a href="https://www.linkedin.com/in/{{include.author.linkedin}}" target="_blank"> LinkedIn </a> profile. </p>


      <p> I'm also an enthusiastic fan of classical music, an amateur piano player, and a licensed bartender. </p>

    </div>
  </div>
  <div class="item__image mx-4">
    <img class="image image--lg rounded shadow" src="/assets/images/profile_jan24_small.png"/>
  </div>
</div>
