{%- assign _excerpt_truncate = include.excerpt_truncate | default: 350 -%}

{%- assign _excerpt_type = include.excerpt_type -%}

{%- include snippets/locale-to-string.html locale=site.data.locale.READMORE -%}
{%- assign _locale_readmore = __return -%}

{%- assign _sorted_list = include.articles -%}
{%- if include.group_by == 'year' -%}
  {%- assign _sorted_list = _sorted_list | sort: 'date' -%}
{%- endif -%}
{%- if include.reverse -%}
  {%- assign _sorted_list = _sorted_list | reverse -%}
{%- endif -%}

{%- if include.type == 'brief' -%}
<div class="article-list items">
{%- endif -%}

  {%- for _article in _sorted_list limit: site.news_limit -%}

    {%- include snippets/prepend-baseurl.html path=_article.url -%}
    {%- assign _article_url = __return -%}

    {%- if include.type == 'brief' -%}
      {%- include snippets/locale-to-string.html locale=site.data.locale.ARTICLE_DATE_FORMAT -%}
      <li class="item" itemscope itemtype="http://schema.org/BlogPosting" data-tags="{{ _tags }}">
      <div class="item__content">
        <div class="grid">
          
            {%- if include.show_info -%}
              <div class="cell cell--2">
                <span class="item__meta item__meta__nowrap">{{ _article.date | date: __return }}</span>
              </div>
            {%- endif -%}
            {% if _article.inline %}
              <div class="cell cell--auto">
                {{ _article.content | remove: '<p>' | remove: '</p>' | emojify }}
              </div>
            {% else %}
              <a itemprop="headline" class="item__header" href="{{ _article_url }}">{{ _article.caption }}</a>
            {% endif %}
          </div>
        </div>
      </li>
    {%- endif -%}
  {%- endfor -%}

</div>
